@tailwind base;
@tailwind components;
@tailwind utilities;

@property --dark-green {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(77 124 15);
}

@property --med-green {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(113, 137, 82);
}

@property --light-mushroom {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(221, 208, 192);
}

@property --lighter-mushroom {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(254, 246, 236);
}

@property --mushroom {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(143, 114, 80);
}

@property --dark-mushroom {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(116, 89, 60);
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: black;
    cursor: url('./app/arrow-cursor-outline.svg'), auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    cursor: url('./app/hand-pointer.svg'), auto;
}

li {
    list-style-type: none;
    display: flex;
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.18em solid var(--dark-green); /* The typwriter cursor */
    white-space: nowrap;
    margin: 0;
    max-width: 20rem;
    letter-spacing: 0.12em;
    animation: typing 4s steps(40, end), blink-caret 0.9s step-end infinite;

    @media (width <= 768px) {
        max-width: 13em;
    }
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: var(--dark-green);
    }
}

::-webkit-scrollbar {
    width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--light-mushroom);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.text-light-mushroom {
    color: var(--light-mushroom);
}
.text-mushroom {
    color: var(--mushroom);
}
.text-dark-mushroom {
    color: var(--dark-mushroom);
}
.bg-light-mushroom {
    background-color: var(--light-mushroom);
}
.bg-lighter-mushroom {
    background-color: var(--lighter-mushroom);
}
.bg-mushroom {
    background-color: var(--mushroom);
}
.bg-dark-mushroom {
    background-color: var(--dark-mushroom);
}
.border-med-green {
    border-color: var(--med-green);
}
.border-mushroom {
    border-color: var(--mushroom);
}
